
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />

	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="css/components/bs-switches.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

	<!-- Seo Demo Specific Stylesheet -->
	<link rel="stylesheet" href="css/colors.php?color=FE9603" type="text/css" /> <!-- Theme Color -->
	<link rel="stylesheet" href="demos/seo/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="demos/seo/seo.css" type="text/css" />
	<!-- / -->

	<!-- Document Title
	============================================= -->
	<title>En İyi Cafe Adisyon Programı | Restoran Sipariş Sistemi</title>
	<meta property="og:title" content="En İyi Cafe Adisyon Programı | Restoran Sipariş Sistemi"/>
	<meta charset="utf-8" />
	<meta name="author" content="adisyonprogramim">
	<meta name="description" content="Adisyon Programı ve Sipariş Sistemi arayan Restoran veya cafeler için hazırlanmış adisyon programı"/>
	<meta property="og:description" content="Adisyon Programı ve Sipariş Sistemi arayan Restoran veya cafeler için hazırlanmış adisyon programı"/>
	<meta name="keywords" content="adisyon programı,restoran adisyon programı,sipariş sistemi,restoran otomasyonu,restoran sipariş sistemi,cafe programı "/>
	<link rel="icon" href="images/favicon.ico" type="image/gif" sizes="16x16">
	<link rel="canonical" href="https://adisyon-programim.com/"/>
	<meta property="og:url" content="https://adisyon-programim.com/"/>
    <meta property="og:site_name" content="adisyon-programim"/>
    <meta property="og:type" content="website"/>
	<meta http-equiv="Content-Language" content="tr" />
	<meta name="content-language" content="tr-TR" />
	<meta name="robots" content="index,follow" />
	<script type="application/ld+json">
		{
		  "@context" : "http://schema.org",
		  "@type" : "LocalBusiness",
		  "name" : "Adisyon Programım",
		  "image" : "https://adisyon-programim.com/images/resim.png",
		  "telephone" : "+90 542 678 78 80",
		  "email" : "info@adisyon-programim.com",
		  "priceRange":"$",
		  "address" : {
			"@type" : "PostalAddress",
			"streetAddress" : "Eğitim Mah. Eylül Sok. Aydın İş Merkezi No: 2/8 ",
			"addressLocality" : "Istanbul",
			"addressRegion" : "Marmara",
			"addressCountry" : "Türkiye",
			"postalCode" : "34100"
		  },
		  "aggregateRating" : {
			"@type" : "AggregateRating",
			"ratingValue" : "9",
			"bestRating" : "10",
			"worstRating" : "0",
			"ratingCount" : "25"
		  }
		}
		</script>
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="transparent-topbar">

			<div class="container clearfix">

				<div class="col_half nobottommargin clearfix">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li><a href="https://adisyon-programim.com/">Ana Sayfa</a></li>
							
							<li><a href="https://adisyon-programim.com/iletisim">İletişim</a></li>
							<li><a href="#"><img src="demos/seo/images/flags/tr.png" alt="Lang">Tr</a>
								<ul>
									<li><a href="#"><img src="demos/seo/images/flags/eng.png" alt="Lang">En</a></li>
									<li><a href="#"><img src="demos/seo/images/flags/fre.png" alt="Lang">Fre</a></li>
									<li><a href="#"><img src="demos/seo/images/flags/ara.png" alt="Lang">Ara</a></li>
									<li><a href="#"><img src="demos/seo/images/flags/tha.png" alt="Lang">Tha</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- .top-links end -->

				</div>

				<div class="col_half fright dark col_last clearfix nobottommargin">

					<!-- Top Social
					============================================= -->
					<div id="top-social">
						<ul>
							<li><a href="https://facebook.com/adisyonprogrami" class="si-facebook" target="_blank"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
							<li><a href="https://twitter.com/restomenum" class="si-twitter" target="_blank"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
							<li><a href="https://www.youtube.com/channel/UCdkxzLMrl38lblozUNyP1Xg" class="si-youtube" target="_blank"><span class="ts-icon"><i class="icon-youtube"></i></span><span class="ts-text">Youtube</span></a></li>
							<li><a href="https://www.instagram.com/restomenum/" class="si-instagram" target="_blank"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
							<li><a href="tel:+905426787880" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+90 542 678 78 80</span></a></li>
							<li><a href="mailto:info@adisyon-programim.com" class="si-email3"><span class="ts-icon"><i class="icon-envelope-alt"></i></span><span class="ts-text">info@adisyon-programim.com</span></a></li>
						</ul>
					</div><!-- #top-social end -->

				</div>

			</div>

		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header floating-header clearfix">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= 
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows">

						<ul>
							<li class="current"><a href="#"><div>Ana Sayfa</div></a></li>
							<li><a href="#ozellikler"><div>Özellikler</div></a></li>
							<li><a href="#fiyat"><div>Fiyatlandırma</div></a></li>
							<li><a href="#iletisim"><div>İletişim</div></a></li>
						</ul>

						<!-- Top Search
						============================================= 
						<div id="top-search" class="fleft">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div> #top-search end -->

						<!-- Menu Buttons
						============================================= -->
						<a href="#iletisim" class="button button-rounded fright leftmargin-sm">Ücretsiz Dene</a>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element slider-parallax full-screen clearfix" style="background: #FFF url('demos/seo/images/hero/hero-1.jpg') center center no-repeat; background-size: cover;">

			<div class="vertical-middle">
				<div class="container topmargin-sm">
					<div class="row">
						<div class="col-lg-5 col-md-8">
							<div class="slider-title">
							
								<h1>En İyi Adisyon Programı</h1>
								<h3 class="text-rotater mb-2" data-separator="," data-rotate="fadeIn" data-speed="3500">- Adisyon Programı <span class="t-rotate">Kurulum gerektirmez,Ücretsiz Güncellemeler,Bakım Ücreti Gerektirmez,Heryerden Yönetilebilir</span></h3>
								<p>Adisyon programı siparişlerinizi yönetmeniz için en iyi sipariş sistemidir. Uygun fiyatlı, kolay kullanımı ve ücretsiz desteği sayesinde daha rahat edeceksiniz.</p>
								<a href="#ozellikler" class="button button-rounded button-large nott ls0">İlk Ay Ücretsiz</a>
								<a href="#iletisim" class="button button-rounded button-large button-light text-dark bg-white border nott ls0">İletişime Geç</a>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- <div class="video-wrap h-100 d-block d-lg-none">
				<div class="video-overlay" style="background: rgba(255,255,255,0.85);"></div>
			</div> -->


		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap pt-0">

				<!-- Client Carousel
				============================================= 
				<div class="section nobg m-0 border-bottom py-5">
					<div class="container">
						<div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="100" data-loop="true" data-autoplay="5000" data-nav="false" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">
							<div class="oc-item"><a href="#"><img src="demos/business/images/clients/linkedin.svg" alt="Brands"></a></div>
							<div class="oc-item"><a href="#"><img src="demos/business/images/clients/nat-geo.svg" alt="Brands"></a></div>
							<div class="oc-item"><a href="#"><img src="demos/business/images/clients/jetblue.svg" alt="Brands"></a></div>
							<div class="oc-item"><a href="#"><img src="demos/business/images/clients/zillow.svg" alt="Brands"></a></div>
							<div class="oc-item"><a href="#"><img src="demos/business/images/clients/amazon.svg" alt="Brands"></a></div>
						</div>
					</div>
				</div>

				<!-- Features
				============================================= -->
				<div class="section nobg mt-4 mb-0 pb-0" id="ozellikler">
					<div class="container">
						<div class="heading-block nobottomborder center divcenter mb-0 clearfix" style="max-width: 550px">
							<div class="badge badge-pill badge-default">Hizmetlerimiz</div>
							<h3 class="nott ls0 mb-3">Neden Adisyon Programı</h3>
							<p>Adisyon Programı ile yeniliklere ve özelliklere ücretsiz sahip olabileceksiniz. Güncelleme ve bakım ücreti ödemeyeceksiniz!</p>
						</div>
						<div class="row justify-content-between align-items-center clearfix">

							<div class="col-lg-4 col-sm-6">

								<div class="feature-box fbox-right noborder">
									<div class="fbox-icon">
										<a href="#"><img src="demos/seo/images/icons/seo.svg" alt="Feature Icon" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">Bakım Ücreti Yok</h3>
									<p>Adisyon Programı bulut tabanlı olduğu için bakım ücreti ödemezsiniz</p>
								</div>

								<div class="feature-box fbox-right noborder mt-5">
									<div class="fbox-icon">
										<a href="#"><img src="demos/seo/images/icons/adword.svg" alt="Feature Icon" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">Kurulum Gerektirmez</h3>
									<p>Adisyon Programı kurulum gerektirmez ve hemen bilgisayarınız yada telefonunuzda kullanabilirsiniz.</p>
								</div>

								<div class="feature-box fbox-right noborder mt-5">
									<div class="fbox-icon">
										<a href="#"><img src="demos/seo/images/icons/analysis.svg" alt="Feature Icon" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">Ücretisiz Güncelleme</h3>
									<p>Güncellemeler ve sorunlar için para ödemezsiniz.</p>
								</div>

							</div>

							<div class="col-lg-3 col-7 offset-3 offset-sm-0 d-sm-none d-lg-block center my-5">
								<img src="demos/seo/images/sections/2.png" alt="iphone" class="rounded  parallax" data-bottom-top="transform: translateY(-30px)" data-top-bottom="transform: translateY(30px)">
							</div>

							<div class="col-lg-4 col-sm-6">

								<div class="feature-box noborder">
									<div class="fbox-icon">
										<a href="#"><img src="demos/seo/images/icons/social.svg" alt="Feature Icon" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">Telefon Tablet Bilgisayar</h3>
									<p>Adisyon programı'nı internetin olduğu her cihaz üzerinden erişebilirsiniz.</p>
								</div>

								<div class="feature-box noborder mt-5">
									<div class="fbox-icon">
										<a href="#"><img src="demos/seo/images/icons/experience.svg" alt="Feature Icon" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">Taahhüt Gerektirmez</h3>
									<p>Adisyon programı taahhüt gerektirmez, kullandığınız kadar ödersiniz</p>
								</div>

								<div class="feature-box noborder mt-5">
									<div class="fbox-icon">
										<a href="#"><img src="demos/seo/images/icons/content_marketing.svg" alt="Feature Icon" class="nobg noradius"></a>
									</div>
									<h3 class="nott ls0">1 Ay Ücretsiz</h3>
									<p>İlk ay ücretsiz deneyebilirsiniz. Memnun kalmadığınızda aboneliğinizi sonlandırabilirsiniz.</p>
								</div>

							</div>

						</div>
					</div>
				</div>

				<!-- Pricing
				============================================= -->
				<div id="fiyat" class="section m-0" style="background: url('demos/seo/images/sections/4.png') no-repeat center top; background-size: cover; padding: 140px 0 0;">
					<div class="container">
						<div class="row justify-content-between">
							<div class="col-md-4 mt-4">
								<div class="heading-block nobottomborder bottommargin-sm">
									<div class="badge badge-pill badge-default">Fiyat Tablosu</div>
									<h3 class="nott ls0">Sizin İçin En İyi <br>Adisyon Programı</h3>
								</div>
								<p>Güncelleme ve bakım ücretleri yok, tüm özelliklere ücretsiz sahip olacaksınız. </p>
								<div class="pricing-tenure-switcher" data-container="#pricing-switch">
									<span class="pts-left">Aylık</span>
									<div class="pts-switcher">
										<div class="switch">
											<input id="switch-toggle-pricing-tenure" class="switch-toggle switch-toggle-round" type="checkbox">
											<label for="switch-toggle-pricing-tenure"></label>
										</div>
									</div>
									<span class="pts-right">Yıllık</span>
									<div class="price-discount"></div>
								</div>
							</div>

							<div class="col-lg-7 col-md-8">
								<div id="section-pricing" class="page-section nopadding nomargin">

									<div id="pricing-switch" class="pricing row align-items-end bottommargin-lg clearfix">

										<div class="col-md-6">

											<div class="pricing-box">
												<div class="pricing-title">
													<img class="mb-2 nobg noradius" src="demos/seo/images/icons/man.svg" alt="Pricing Icon" width="50">
													<h3>Aylık</h3>
													
												</div>
												<div class="pricing-price">
													<div class="pts-switch-content-left"><span class="price-unit">&#8378;</span>50<span class="price-tenure">Her Ay</span></div>
													<div class="pts-switch-content-right"><span class="price-unit">&#8378;</span>350<span class="price-tenure">Her Yıl</span></div>
												</div>
												<div class="pricing-features border-bottom-0">
													<ul>
														<li><i class="icon-check-circle color mr-2"></i><strong>Ücretisiz</strong> Destek</li>
														<li><i class="icon-check-circle color mr-2"></i><strong>Bakım Ücreti</strong> Yok</li>
														<li><i class="icon-check-circle color mr-2"></i><strong>Güncelleme Ücreti</strong> Yok</li>
														<li><i class="icon-check-circle color mr-2"></i><strong>Kullanım Kısıtlaması</strong> Yok</li>
														<li><i class="icon-check-circle color mr-2"></i>Telefon &amp; Uzak Bağlantı Desteği</li>
													</ul>
												</div>
												<div class="pricing-action">
													<div class="pts-switch-content-left"><a href="#iletisim" class="button button-large button-rounded btn-block capitalize m-0 ls0">Hemen Başla</a></div>
													<div class="pts-switch-content-right"><a href="#iletisim" class="button button-large button-rounded btn-block capitalize m-0 ls0">Hemen Başla</a></div>
												</div>
											</div>

										</div>

										<!-- <div class="col-md-6">

											<div class="pricing-box">
												<div class="pricing-title">
													<img class="mb-2 nobg noradius" src="demos/seo/images/icons/group.svg" alt="Pricing Icon" width="60">
													<h3>3 Aylık</h3>
													<span>En Çok Tercih Edilen</span>
												</div>
												<div class="pricing-price">
													<div class="pts-switch-content-left"><span class="price-unit">&#8378;</span>12<span class="price-tenure">Per Month</span></div>
													<div class="pts-switch-content-right"><span class="price-unit">&#8378;</span>115<span class="price-tenure">Per Year</span></div>
												</div>
												<div class="pricing-features border-bottom-0">
													<ul>
														<li><i class="icon-check-circle color mr-2"></i><strong>24*7</strong> Support</li>
														<li><i class="icon-check-circle color mr-2"></i><strong>10</strong> Free Optimization</li>
														<li><i class="icon-check-circle color mr-2"></i><strong>1000+</strong> Pages</li>
														<li><i class="icon-check-circle color mr-2"></i><strong>Unlimited</strong> User License</li>
														<li><i class="icon-check-circle color mr-2"></i>Phone &amp; Email Support</li>
													</ul>
												</div>
												<div class="pricing-action">
													<div class="pts-switch-content-left"><a href="#" class="button button-rounded button-large button-light text-dark bg-white border btn-block nott m-0 ls0">Get Started</a></div>
													<div class="pts-switch-content-right"><a href="#" class="button button-rounded button-large button-light text-dark bg-white border btn-block nott m-0 ls0">Get Started</a></div>
												</div>
											</div>

										</div> -->

									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Form Section
				============================================= -->
				<div id="iletisim" class="section m-0" style="background: url('demos/seo/images/sections/1.jpg') no-repeat center center; background-size: cover; padding: 100px 0;">
					<div class="container">
						<div class="row justify-content-between align-items-center">

							<div class="col-md-4">
								<div class="heading-block nobottomborder bottommargin-sm">
									<div class="badge badge-pill badge-default">Hemen Başla</div>
									<h3 class="nott ls0">İlk Ay Ücretsiz Denemeye Başla</h3>
								</div>
								<p>Size ulaşabilmemiz için formu doldur ve bir ay ücretsiz olarak kullanmaya başla</p>
								<div class="feature-box fbox-light" style="padding-left: 70px">
									<div class="fbox-icon">
										<i class="icon-envelope nobg noborder"></i>
									</div>
									<span class="text-muted">Bizi Ara:</span><br>
									<h3 class="nott ls0 t600">0(542) 678 78 80</h3>
								</div>
								<div class="feature-box fbox-light" style="padding-left: 70px">
									<div class="fbox-icon">
										<i class="icon-phone3 nobg noborder"></i>
									</div>
									<span class="text-muted">Mail:</span><br>
									<h3 class="nott ls0 t600">info@adisyon-programim.com</h3>
								</div>
							</div>

							<div class="col-lg-3 col-md-4">
								<div class="card shadow-sm">
									<div class="card-body">
										<h4 class="mb-3">Formu Doldur</h4>
										<div class="form-widget">
											<div class="form-result"></div>
											<form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/form.php" method="post">
												<div class="col_full mb-3">
													<label for="template-contactform-name">Adınız ve Soyadınız:*</label>
													<input type="text" id="template-contactform-name" name="template-contactform-name" class="form-control input-sm required" value="">
												</div>
												<div class="col_full mb-3">
													<label for="template-contactform-email">Mail Adresi:*</label>
													<input type="email" id="template-contactform-email" name="template-contactform-email" class="form-control input-sm required" value="">
												</div>
												<div class="col_full mb-4">
													<label for="template-contactform-website">Telefon Numarası:*</label>
													<input type="text" id="template-contactform-website" name="template-contactform-website" class="form-control input-sm required" value="">
												</div>
												<div class="col_full nobottommargin">
													<button class="button button-rounded btn-block nott ls0 m-0" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Formu Gönder</button>
												</div>
												<p class="col_full nobottommargin" id="response"></p>
												<input type="hidden" name="prefix" value="template-contactform-">
											</form>
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="col-md-4 mt-5 mt-md-0 center">
								<a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe" class="play-icon shadow"><i class="icon-play"></i></a>
							</div> -->

						</div>

					</div>
				</div>

				<!-- Works/Projects
				============================================= 
				<div class="section m-0" style="background: url('demos/seo/images/sections/5.jpg') no-repeat center center; background-size: cover;padding: 80px 0;">
					<div class="container">
						<div class="heading-block nobottomborder center">
							<div class="badge badge-pill badge-default">Blog Yazıları</div>
							<h3 class="nott ls0">Son Yazılar</h3>
						</div>

						<div id="portfolio" class="portfolio portfolio-3 grid-container clearfix">

							<article class="portfolio-item pf-media pf-icons">
								<div class="portfolio-image">
									<img src="demos/seo/images/works/1.jpg" alt="The Atmosphere">
									<div class="portfolio-overlay">
										<a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="#">En İyi Adisyon Programı</a></h3>
									<span>Digital Marketing</span>
								</div>
							</article>

							<article class="portfolio-item pf-illustrations">
								<div class="portfolio-image">
									<img src="demos/seo/images/works/2.jpg" alt="Wavelength Structure">
									<div class="portfolio-overlay">
										<a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>En İyi Sipariş Sistemi</h3>
									<span>Digital Marketing</span>
								</div>
							</article>

							<article class="portfolio-item pf-graphics pf-uielements">
								<div class="portfolio-image">
									<img src="demos/seo/images/works/3.jpg" alt="Greenhouse Garden">
									<div class="portfolio-overlay">
										<a href="#" class="center-icon"><i class="icon-line-ellipsis"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3>Uygun Adisyon Programları</h3>
									<span>Analytics</span>
								</div>
							</article>

					
						</div>

						<!-- <div class="center">
							<a href="#" class="button button-large button-rounded capitalize ml-0 mt-5 ls0">View All Works</a>
						</div> -->

					</div>
				</div>

				<!-- Features
				=============================================
				<div class="container clearfix py-5">
					<div class="row">
						<div class="col-md-4 mt-5">
							<div class="feature-box fbox-center noborder">
								<div class="fbox-icon">
									<a href="#"><img src="demos/seo/images/icons/research.svg" alt="Feature Icon" class="nobg noradius"></a>
								</div>
								<h3 class="nott ls0">1. Planning &amp; Research</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolore, voluptates!</p>
							</div>
						</div>

						<div class="col-md-4 mt-5">
							<div class="feature-box fbox-center noborder">
								<div class="fbox-icon">
									<a href="#"><img src="demos/seo/images/icons/optimizing.svg" alt="Feature Icon" class="nobg noradius"></a>
								</div>
								<h3 class="nott ls0">2. Optimizing</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, provident.</p>
							</div>
						</div>

						<div class="col-md-4 mt-5">
							<div class="feature-box fbox-center noborder">
								<div class="fbox-icon">
									<a href="#"><img src="demos/seo/images/icons/result.svg" alt="Feature Icon" class="nobg noradius"></a>
								</div>
								<h3 class="nott ls0">3. Result</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonials
				============================================= 
				<div class="section mt-0" style="background: url('demos/seo/images/sections/3.jpg') no-repeat top center; background-size: cover; padding: 80px 0 70px;">
					<div class="container">
						<div class="heading-block nobottomborder center">
							<div class="badge badge-pill badge-default">Testimonials</div>
							<h3 class="nott ls0">What Clients Says</h3>
						</div>

						<div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget clearfix" data-margin="0" data-pagi="true" data-loop="true" data-center="true" data-autoplay="5000" data-items-sm="1" data-items-md="2" data-items-xl="3">

							<div class="oc-item">
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="demos/pet/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
										<div class="testi-meta">
											John Doe
											<span>XYZ Inc.</span>
										</div>
									</div>
								</div>
							</div>

							<div class="oc-item">
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="demos/pet/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
										<div class="testi-meta">
											Collis Ta'eed
											<span>Envato Inc.</span>
										</div>
									</div>
								</div>
							</div>
							<div class="oc-item">
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="demos/pet/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
										<div class="testi-meta">
											Collis Ta'eed
											<span>Envato Inc.</span>
										</div>
									</div>
								</div>
							</div>
							<div class="oc-item">
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="demos/pet/images/testimonials/4.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
										<div class="testi-meta">
											Mary Jane
											<span>Google Inc.</span>
										</div>
									</div>
								</div>
							</div>
							<div class="oc-item">
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/5.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
										<div class="testi-meta">
											Steve Jobs
										<span>Apple Inc.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Blogs
				============================================= 
				<div class="container py-4">
					<div class="heading-block nobottomborder center">
						<div class="badge badge-pill badge-default">Blog</div>
						<h3 class="nott ls0">Son Yazılar</h3>
					</div>

					<div class="row mt-5 clearfix">
						<div class="col-md-4">
							<article class="entry">
								<div class="entry-image mb-3">
									<a href="#"><img src="demos/seo/images/blog/1.jpg" alt="Image 3"></a>
								</div>
								<div class="entry-title">
									<h3><a href="#">En İyi Adisyon Programı</a></h3>
								</div>
								<ul class="entry-meta m-0 d-flex align-items-center clearfix">
									<li><i class="icon-line2-user"></i><a href="#"> John Doe</a></li>
									<li><i class="icon-calendar-times1"></i><a href="#"> 11 Mar 2018</a></li>
								</ul>
								<div class="entry-content clearfix">
									<p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem progressive technology through pariatur quibusdam veritatis quisquam. Efficiently communicate alternative.</p>
								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="entry">
								<div class="entry-image mb-3">
									<a href="#"><img src="demos/seo/images/blog/2.jpg" alt="Image 3"></a>
								</div>
								<div class="entry-title">
									<h3><a href="#">En İyi Sipariş Programı</a></h3>
								</div>
								<ul class="entry-meta m-0 clearfix">
									<li><i class="icon-line2-user"></i><a href="#"> Semicolonweb</a></li>
									<li><i class="icon-calendar-times1"></i><a href="#"> 18 Apr 2018</a></li>
								</ul>
								<div class="entry-content clearfix">
									<p>Interactively predominate progressive technology through distinctive materials. Progressively benchmark extensible intellectual. Exercitationem progressive technology through pariatur.</p>
								</div>
							</article>
						</div>

						<div class="col-md-4">
							<article class="entry">
								<div class="entry-image mb-3">
									<a href="#"><img src="demos/seo/images/blog/3.jpg" alt="Image 3"></a>
								</div>
								<div class="entry-title">
									<h3><a href="#">2020 Adisyon programı</a></h3>
								</div>
								<ul class="entry-meta m-0 clearfix">
									<li><i class="icon-line2-user"></i><a href="#"> John Doe</a></li>
									<li><i class="icon-calendar-times1"></i><a href="#"> 06 Aug 2018</a></li>
								</ul>
								<div class="entry-content clearfix">
									<p>Globally synergize premium metrics with holistic e-markets. Professionally morph interoperable networks vis-a-vis value-added methods.</p>
								</div>
							</article>
						</div>
					</div>

				</div>

				<!-- Promo/Contact
				============================================= -->
				<!-- <div class="section mt-5 footer-stick promo-section nobg" style="padding: 100px 0; overflow: visible">
					<div class="container">
						<div class="heading-block nobottomborder center">
							<h5 class="uppercase ls1 mb-1">Grab your Free Trail and Explore the Options</h5>
							<h2 class="nott ls0">Try Keyword Search 30 Days Free With Canvas<span>SEO</span></h2>
							<a href="#" class="button button-large button-rounded nott ml-0 ls0 mt-4">Contact Us Now</a>
						</div>
					</div>
				</div> -->

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= 
		<footer id="footer" class="noborder bg-white">

			<div class="container">

				<!-- Footer Widgets
				============================================= 
				<div class="footer-widgets-wrap row pb-5 clearfix">

					<div class="col-md-8">

						<div class="widget clearfix">

							<img src="images/footer-widget-logo.png" alt="Footer Logo" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #DDD;">

							<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>

							<div class="line line-sm"></div>

							<!-- <div class="row">

								<div class="col-lg-3 col-6 bottommargin-sm widget_links">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">About</a></li>
										<li><a href="#">FAQs</a></li>
										<li><a href="#">Support</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>

								<div class="col-lg-3 col-6 bottommargin-sm widget_links">
									<ul>
										<li><a href="#">Shop</a></li>
										<li><a href="#">Portfolio</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Events</a></li>
										<li><a href="#">Forums</a></li>
									</ul>
								</div>

								<div class="col-lg-3 col-6 bottommargin-sm widget_links">
									<ul>
										<li><a href="#">Corporate</a></li>
										<li><a href="#">Agency</a></li>
										<li><a href="#">eCommerce</a></li>
										<li><a href="#">Personal</a></li>
										<li><a href="#">One Page</a></li>
									</ul>
								</div>

								<div class="col-lg-3 col-6 bottommargin-sm widget_links">
									<ul>
										<li><a href="#">Restaurant</a></li>
										<li><a href="#">Wedding</a></li>
										<li><a href="#">App Showcase</a></li>
										<li><a href="#">Magazine</a></li>
										<li><a href="#">Landing Page</a></li>
									</ul>
								</div>

							</div> 

						</div>

					</div>

					<div class="col-md-4">

						<div class="widget clearfix">

							<div class="row clearfix">

								<div class="col-12">
									<div class="feature-box fbox-light" style="padding-left: 70px">
										<div class="fbox-icon">
											<i class="icon-envelope nobg noborder"></i>
										</div>
										<span class="text-muted">Bizi Ara:</span><br>
										<h3 class="nott ls0 t600">(542) 678 78 80</h3>
									</div>
								</div>

								<div class="col-12 mt-4">
									<div class="feature-box fbox-light" style="padding-left: 70px">
										<div class="fbox-icon">
											<i class="icon-phone3 nobg noborder"></i>
										</div>
										<span class="text-muted">Mail:</span><br>
										<h3 class="nott ls0 t600">info@adisyon-programim.com</h3>
									</div>
								</div>

							</div>

						</div>

						<!-- <div class="widget subscribe-widget clearfix">
							<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
							<div class="widget-subscribe-form-result"></div>
							<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<div class="input-group-prepend">
										<div class="input-group-text nobg"><i class="icon-email2"></i></div>
									</div>
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
									<div class="input-group-append">
										<button class="btn btn-success button button-color nott ls0 m-0" type="submit">Subscribe</button>
									</div>
								</div>
							</form>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-lg-6 col-md-12 col-6 clearfix bottommargin-sm">
									<a href="https://facebook.com/semicolonweb" target="_blank" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="https://facebook.com/semicolonweb" target="_blank" class="text-dark"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
								</div>
								<!-- <div class="col-lg-6 col-md-12 col-6 clearfix">
									<a href="https://themeforest.net/user/SemiColonWeb/follow" target="_blank" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="https://themeforest.net/user/SemiColonWeb/follow" target="_blank" class="text-dark"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>


			<!-- Copyrights
			============================================= -->
			<div id="copyrights" style="background: url('demos/seo/images/hero/footer.svg') no-repeat top center; background-size: cover; padding-top: 70px;">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2018 All Rights Reserved by Adisyon Programım Inc.<br>
					</div>

					<!-- <div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links clearfix">
							<a href="#">Home</a>/<a href="#">About Us</a>/<a href="#">Team</a>/<a href="#">Clients</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
						</div>
					</div> -->

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<script>
		//Pricing Table Script
		jQuery(document).ready( function($){
			$('#template-contactform-submit').on('click',function(){
				var name = $('#template-contactform-name').val();
				var email = $('#template-contactform-email').val();
				var tel = $('#template-contactform-website').val();
				var hata=false;
				console.log(name,email,tel)
				if(tel.length<9 || tel.length>11){
					hata = "Telefon numarası girmelisiniz."
				}else if(name.length<3){
					hata = "Adınızı giriniz"
				}else if(email.length<3){
					hata = "Mail adresi giriniz"
				}
				if(hata){
					return alert(hata);
				}
				$('#template-contactform-submit').hide();
				return $.ajax({
						type: 'POST',
						url: encodeURI('https://adisyon-programim.com/submit'),
						contentType: "application/json; charset=utf-8",
						data: JSON.stringify({name:name,email:email,phone:tel}),
						dataType: 'json',
						success: function(json) {
							$('#template-contactform-submit').show();
							$("#template-contactform-name").val("");
							$("#template-contactform-email").val("");
							$("#template-contactform-website").val("");
							if(!json.success) {
								return alert(json.err);
							}
								alert("Teşekkür ederiz. Size en kısa sürede dönüş yapacağız :)");
						},
						failure: function(errMsg) {
							$('#template-contactform-submit').show();
							alert(errMsg);
						}
					});
			
			})
			function pricingSwitcher( elementCheck, elementParent, elementPricing ) {
				elementParent.find('.pts-left,.pts-right').removeClass('pts-switch-active');
				elementPricing.find('.pts-switch-content-left,.pts-switch-content-right').addClass('hidden');

				if( elementCheck.filter(':checked').length > 0 ) {
					elementParent.find('.pts-right').addClass('pts-switch-active');
					elementPricing.find('.pts-switch-content-right').removeClass('hidden');
				} else {
					elementParent.find('.pts-left').addClass('pts-switch-active');
					elementPricing.find('.pts-switch-content-left').removeClass('hidden');
				}
			}

			$('.pts-switcher').each( function(){
				var element = $(this),
					elementCheck = element.find(':checkbox'),
					elementParent = $(this).parents('.pricing-tenure-switcher'),
					elementPricing = $( elementParent.attr('data-container') );

				pricingSwitcher( elementCheck, elementParent, elementPricing );

				elementCheck.on( 'change', function(){
					pricingSwitcher( elementCheck, elementParent, elementPricing );
				});
			});
		});

	</script>

</body>
</html>